#nav {
    background-color: #2aabd2;
}


#page {

}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.border-sm{
    border: solid 1px black;
    border-radius: 5px;
}