<div ng-controller="lobbyCtrl" ng-init="init()">

    <div class="row text-center">
        <div class="col-md-4 col-md-offset-4 text-center">
            <h1>
                Choose a room
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <ul id="roomsList" class="list-group">

                <li ng-repeat="r in rooms" class="list-group-item" ng-click="joinRoom(r.id);">
                    <div class="row">
                        <div class="col-sm-2">
                            ID: {{r.id}}
                        </div>
                        <div class="col-sm-10">
                            People: [   <span ng-repeat="u in r.users">{{u}}   </span>]
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-success full-size" ng-click="createRoom()">
                        Create Room
                    </button>
                </li>
            </ul>
        </div>

    </div>
</div>