<div ng-controller="loginCtrl" ng-init="init()">
    <div class="row">
        <div class="col-md-offset-3 col-md-2">
            <input class="btn-height full-width" type="color" ng-model="loginColor">
        </div>
        <div class="col-md-3">
                <input class="btn-height full-width" ng-model="loginName" name="username" type="text" placeholder="Username">
        </div>
        <div class="col-md-1">
            <button class="btn btn-success btn-height full-width" ng-click="login()">Login</button>
        </div>
    </div>
</div>