<div ng-controller="roomCtrl" ng-init="init()">

    <div class="row">
        <div class="col-md-3">
            <h3>
                Room: {{roomid}}
            </h3>
        </div>

        <div class="col-md-2">
            <button class="btn btn-success" ng-click="setupStream();">Start Call</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger" ng-click="closeStream();">End Call</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 text-center">
            <h4 class=" full-size text-center">
                Users:
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <ul id="userList" class="list-group"></ul>
        </div>

        <div id="videoContainer">
            <div class="col-md-2">
                <div class="margin-xs">
                    <video id="localVideo" autoplay height="100%" width="100%"></video>
                </div>
            </div>
        </div>

    </div>

    <!-- Small Spacer -->
    <div class="row">
        <div class="col-sm-12">
            <div class="margin-md"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div ng-include="'html/canvas.html'">
                <!-- loads canvs in here on page load -->
            </div>
        </div>



        <!-- Message box -->
        <div class="col-md-5">
            <div id="textChat" class="chat-box padding-md">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <ul id="messageList" class=""></ul> <!--list-group-->
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-12 text-center">
                        <input class="chat-input" ng-model="message" type="text" name="message" ng-keyup="messageKeyup($event);" maxlength="25"/>
                        <button class="btn btn-success chat-input" ng-click="sendMessage();">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>