<div ng-controller="roomCtrl" ng-init="init()">
    <div class="row">
        <div class="col-sm-2">
            <h3>
                Room: {{roomid}}
            </h3>
        </div>

        <div class="col-md-10" id="localVideo">
        </div>

        <div class="col-md-10" id="remoteVideo">
        </div>

    </div>
    <div class="row">
        <div class="col-md-1 text-center">
            <h4 class=" full-size text-center">
                Users:
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 text-center">
            <ul id="userList" class="list-group"></ul>
        </div>
    </div>

    <div id="messageChatRow" class="row">
        <div class="col-md-offset-9 col-md-3">
            <div id="textChat" class="chat-box padding-md">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="panel">
                            <ul id="messageList" class="list-group"></ul>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-12 text-center">
                        <input class="chat-input" ng-model="message" type="text" name="message" />
                        <button class="btn btn-success chat-input" ng-click="sendMessage();">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>