<div ng-controller="roomCtrl" ng-init="init()">
    <div class="row">
        <div class="col-sm-2">
            <h3>
                Room: {{roomid}}
            </h3>
        </div>

        <video class="col-md-10 autoplay playsinline" id="localVideo">
        </video>

        <video class="col-md-10" id="remoteVideo">
        </video>

        <button class="btn btn-success" ng-click="start(true);">Start Call</button>
    </div>
    <!-- Drawing -->
    <div ng-controller="">
        <div class="row">
            <!-- Canvas -->
            <div class="col-md-6">
                <div id="canvasDiv">
                    <canvas id="drawing" width="560" height="280"></canvas>
                </div>
            </div>
            <!-- End Canvas -->
            <!-- Selection Tools -->
            <div class="col-md-6">
                <button id="clearcanvas">Clear Canvas</button>
                <button id="erasecanvas">Eraser</button>
                <button id="pencanvas">Pen</button>

                <div class="colordiv">
                    Select Color
                    <ul class="color">
                        <li class="selectedColor"><span rel="#cb3594" >Purple</span></li>
                        <li><span rel="#FF0000" >Red</span></li>
                        <li><span rel="#659b41" >Green</span></li>
                        <li><span rel="#ffcf33" >Yellow</span></li>

                    </ul>
                </div>

                <div class="sizediv">
                    Select Size
                    <ul class="size">
                        <li class="selectedColor"><span rel="5" >Small</span></li>
                        <li><span rel="12" >Medium</span></li>
                        <li><span rel="20" >Large</span></li>
                    </ul>
                </div>
            </div>
            <!-- End Selection Tools -->
        </div>
    </div>
    <!-- End Drawing -->
    <div class="row">
        <div class="col-md-1 text-center">
            <h4 class=" full-size text-center">
                Users:
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center">
            <ul id="userList" class="list-group"></ul>
        </div>
    </div>

    <div id="messageChatRow" class="row">
        <div class="col-md-offset-9 col-md-3">
            <div id="textChat" class="chat-box padding-md">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="panel">
                            <ul id="messageList" class="list-group"></ul>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-12 text-center">
                        <input class="chat-input" ng-model="message" type="text" name="message" />
                        <button class="btn btn-success chat-input" ng-click="sendMessage();">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>